<template>
    <require from="./need-info.css"></require>
    <div id="needs">
      <div id="need-title">
          <div class="need-name"> <p> ${locale.need_info.title}</p> </div>
          <hr>
          <div repeat.for="item of products" class="items">
            <div class="item"> 
              <span id="item_quantity">${item.quantity}</span>
              <span id="item_quantity">${item.units}</span> 
              <span id="item_name">${item.title}</span>
              <span id="item_des">${item.description}</span>
            </div>
          <hr>
          </div>
      </div>
      <div id="need_status">
        <div class="item_date">${locale.need_info.time} ${requestedon}</div>
        <div id="need-state"> Status: ${satisfiedPercentage} % ${locale.need_info.status} </div>
        <div class="progress-bar-container">
          <div css="height:18px;width:${satisfiedPercentage}%"></div>
        </div>
        <div class="giverbtn">
          <button id="itemgiver" click.delegate="initiateGiver()">${locale.need_info.give}</button>
        </div>
      </div>
    </div>
  </template>