<template>
  <require from="./need-info.css"></require>
  <div id="needs">
    <div id="need-title">
        <div class="need-name"> <p> ${locale.need_info.title}</p> </div>
        <hr>
        <div repeat.for="item of products" class="items">
          <div class="item"> 
            <span id="item_quantity">${item.quantity}</span>
            <span id="item_quantity">${item.units}</span> 
            <span id="item_name">${item.title}</span>
            <span id="item_des">${item.description}</span>
          </div>
        <hr>
        </div>
    </div>
    <div id="need_status">
      <div class="item_date">${locale.need_info.time} ${requestedon}</div>
      <div id="need-state"> Status: ${satisfiedPercentage} % ${locale.need_info.status} </div>
      <div class="progress-bar-container">
        <div css="height:18px;width:${satisfiedPercentage}%"></div>
      </div>
      <div class="giverbtn" if.bind="showGiverBtn">
        <button id="itemgiver" click.delegate="initiateGiver()">${locale.need_info.give}</button>
      </div>
    </div>

    <div id="voteIcons">
      <table>
        <tr>
          <td>
            <!-- Downvote -->
            <!-- Use trigger when button needs to be disabled -->
            <button id="downVoteButton" class="voteButtons" disabled.bind="downvoteDisabled" click.trigger="voteHandler(-1)">
            <i class.bind="'icon-downvote'" title.bind="voteButtons[1].tooltip"></i>
            </button>
          </td>

          <td>
            <!-- Upvote -->
            <!-- Use trigger when button needs to be disabled -->
            <button id="upVoteButton" class="voteButtons" disabled.bind="upvoteDisabled" click.trigger="voteHandler(1)">
              <i class.bind="'icon-upvote'" title.bind="voteButtons[0].tooltip"></i>
            </button>
          </td>

          <td repeat.for="button of shareButtons">
            <button class="shareButtons" id.bind="'shareButtons' + button.name" click.delegate="feedbackInteraction(button)">
              <i class.bind="'icon-' + button.name" title.bind="button.tooltip"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>


    <div id="shareFlyer" class="interactionFlyer">
      <p>${locale.report_info.share}</p>
      <a repeat.for="button of socialButtons" href.bind="button.intent" >
        <i  id="socialButtons" class.bind="'icon-' + button.name" ></i>
      </a>
    </div>

    <div id="flagFlyer" class="interactionFlyer">
      <p>${locale.report_info.flagReport_Title}</p>
      <a href.bind="'mailto:' + locale.report_info.flagReport_email + '?subject=Please%20review%20this%20report%20&#40;Report%20id%20&#58;%20' + id + '&#41;'"><button id="submitButton">${locale.report_info.flagReport_button}</button></a>
    </div>
  </div>
</template>
